/*A garder dans le css pour plus tard: background-image:linear-gradient(white, black);*/	

header{
/*Toutes la barre du haut avec le logo + la recher + l'add + profil et liste*/
	background-color: black;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	height: 20%;
	width: 100%;
	position: fixed;
}
.btn-under:hover{
	text-decoration: underline;
	text-decoration-color: black;
}
.contour{
	text-align: center;
	border: 1px gray solid;
	width: 60%;
}
.all{
	color: white;
	display: flex;
	justify-content: space-around;
	width: 50%;
	position: absolute;
	bottom: 20%;
	left: 25%;
}
.logo{
	margin-left: 2%;
	width: 8%;
	height: auto;
}
.btn-all:hover{
	text-decoration: underline;
}
.btn-ombre2{
/*mettre de l'ombre a a recherche et au bouton add*/		
	box-shadow: 2px 2px 15px silver;
}
.btn-text{
/*mettre le text au centre de recherche et du bouton add*/
	text-align: center; 
}
.btn-trait{
 	border-right: 1px white solid;
}
	.Res{
		width: 8%;
	position: absolute;
	left: 35%;
	bottom: 15%;
	color: white;
	background-color: black;
}
.sne{
	border-radius: 4px;
	width: 8%;
	border: 1px gray solid;
	text-align: center;
	position: absolute;
	left: 48%;
	bottom: 15%;
	color: white;
	background-color: black;
}
.pro{
	width: 8%;
	position: absolute;
	left: 63%;
	bottom: 15%;
	color: white;
}
.headertitle{
	color: white;
	position: absolute;
	left: 44%; 
	top: 10%;
	font-size: 30px;
}
.un{
	height: 100%;
	width: auto;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.touteslesannonces{
/*les cadres avec toutes les annoces dedans*/
	flex-direction: column;
	width: 60%;
	margin-left: 20%;
	margin-top: 12%;
}
.annonce{
/*les annonces en genérales*/
	margin-top: 3%;
	border: 1px solid silver;
	background-color: white;
	box-shadow: 5px 5px 10px silver;
	border-radius: 50px;
}
.do{
	margin-left: 0px;
	float: left;
}
.btn-imagess{
	overflow: hidden;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.imagesannonces{
	width: 380px;
}
.slides{
	width: calc(215px * 5);
	animation: glisse 15s infinite;
}
@keyframes glisse{
	0%{
		transform: translateX(0);
	}
	10%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(-215px);
	}
	35%{
		transform: translateX(-215px);
	}
	50%{
		transform: translateX(-420px);
	}
	60%{
		transform: translateX(-420px);
	}
	75%{
		transform: translateX(-630px);
	}
	85%{
		transform: translateX(-630px);
	}
	100%{
		transform: translateX(0px );
	}
}
.imagesannonces2{
	width: 200px;
}
.slides2{
	width: calc(215px * 5);
	animation: glisse2 10s infinite;
}
@keyframes glisse2{
	0%{
		transform: translateX(0);
	}
	10%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(-230px);
	}
	60%{
		transform: translateX(-230px);
	}
	100%{
		transform: translateX(0px );
	}
}
.imagesannonces3{
	width: 240px;
}
.slides3{
	width: calc(215px * 5);
	animation: glisse2 10s infinite;
}
@keyframes glisse3{
	0%{
		transform: translateX(0);
	}
	10%{
		transform: translateX(0);
	}
	50%{
		transform: translateX(-380px);
	}
	60%{
		transform: translateX(-380px);
	}
	100%{
		transform: translateX(0px );
	}
}
.imagesannonces4{
	width: 250px;
}













.contenueannonce{
	display: flex;
}
.description{
	margin-left: 5%;
	text-shadow: 15px 5px 15px silver;
}

.bloc{
	height: 25px;
	display: flex;
	background-color: white;
}
.bloco{
/**/
	color: black;
	margin-top: 3%;
	height: 30px;
	display: flex;
}
.bloci{
/*donner la forme a la boit avec insta et vinted*/
	width: 30px;
	height: 30px;
}
.test{
/*mettre le liens "insta" et "vinted"*/
	color: black;
	margin-left: 10%;
	font-size: 16px;
	font-family: Comic Sans MS;
}
.Title{
/*Le titre des annonces*/
		font-family: impact;
}
.boiterensseignements{
/*boit dans laquelil y a */
	border: 1px solid black;
	width: 50%;
	height: 40%;
}
.ecritureboite{
/*mettre un marge de 10% au ecriture "vinted" et "insta"*/
	margin-left: 10%;
}
.annonce:hover{
/*quand les annonces sont survoler intensifier l'ombre*/
	box-shadow: 5px 5px 10px black;
}
